.carousel-img {
    width: auto;
    height: 18rem;
}
.carousel-container {
    overflow: hidden;
}
.carousel-item-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}