.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.tp {
    border-right: 1px solid;
    padding: 1rem;
}

.ticon {
    font-size: 5rem;
}

.ticon:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 4px 4px 4px rgb(97, 94, 94);
    border-radius: 50%;
}